<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entrelaza | Polimatute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/botones.css">
    <link rel="stylesheet" href="/static/css/nav-bar.css">
    <link rel="stylesheet" href="/static/css/fondo.css">
    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>


<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<br><br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show rounded-pill shadow-sm auto-dismiss py-2 px-3 small-alert" role="alert">
          <span class="small">{{ message }}</span>
          <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/formularioequipo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/formularioequipo.js"></script>
<script src="/static/js/animacion de nav-bar.js"></script>


<!-- SweetAlert2 -->



<!-- Contenedor de toasts flotantes -->


</body>
</html>
