<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entrelaza | Polimatute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- EN EL HEAD -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/botones.css">
    <link rel="stylesheet" href="/static/css/fondo.css">
    <link rel="stylesheet" href="/static/css/animacion.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/notificacion.css">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="floating-alerts">
              {% for category, message in messages %}
                <div class="floating-alert alert-{{ category }} alert alert-{{ category }} alert-dismissible fade show">
                  <span>{{ message }}</span>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>


<script src="/static/js/formularioequipo.js"></script>
<script src="/static/js/formularioequipo.js"></script>
<script src="/static/js/animacion_inicio.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/notificacion.js"></script>

</body>
</html>
