{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/css/botones.css">
    <link rel="stylesheet" href="/static/css/nav-bar.css">
    <link rel="stylesheet" href="/static/css/fondo.css">
    
<div class="container" style="max-width: 400px; margin-top: 50px;">
  <h2 class="mb-4">Iniciar sesión</h2>

  <form method="post">
    <div class="mb-3">
      <label for="codigo" class="form-label">Código de estudiante</label>
      <input type="text" class="form-control" id="codigo" name="codigo" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" required />
    </div>
    <button type="submit" class="btn btn-primary w-100">Entrar</button>
  </form>
  <p class="mt-3">¿No tienes cuenta? </p>

<button class="btn btn-secondary mt-3 ">
  <a style="color: white;" href="{{ url_for('register') }}">Regístrate aquí</a>
</button>
  <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">🏠 Volver al inicio</a>
</div>

<!-- Contenedor de toasts flotantes -->


{% endblock %}
